
:root {
  --verde-principal: #007C59;
  --verde-claro: #00A859;
  --verde-escuro: #004F35;
  --amarelo-petrobras: #FFD100;
  --cinza-escuro: #333333;
  --cinza-medio: #CCCCCC;
  --cinza-claro: #F5F5F5;
  --branco: #FFFFFF;
  --preto-suave: #222222;
}