
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cinza-claro);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.lado-esquerdo {
  flex: 1;
  background-image: url("../imagens/fundo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lado-direito {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--branco);
}

.form-login {
  background-color: var(--verde-principal);
  width: 80%;
  max-width: 380px;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--branco);
}

.titulo {
  text-align: center;
  margin-bottom: 30px;
}

.titulo h1 {
  font-size: 1.8rem;
  color: var(--branco);
}

.titulo p {
  font-size: 0.95rem;
  opacity: 0.9;
  color: #f0f0f0;
}

.campos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.campos label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--branco);
}

.campos input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid var(--verde-escuro);
  outline: none;
  font-size: 0.9rem;
  color: var(--preto-suave);
}

.campos input:focus {
  border-color: var(--amarelo-petrobras);
  box-shadow: 0 0 0 2px #fdb91370;
}

.link-senha {
  color: var(--amarelo-petrobras);
  text-decoration: none;
  font-size: 0.85rem;
  margin-bottom: 25px;
  transition: color 0.3s;
}

.link-senha:hover {
  color: var(--branco);
}

.botao-login {
  width: 100%;
  padding: 12px 0;
  background-color: var(--verde-escuro);
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.botao-login a {
  text-decoration: none;
  color: var(--branco);
}

.botao-login:hover {
  background-color: var(--amarelo-petrobras);
  color: var(--verde-escuro);
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .lado-esquerdo {
    display: none;
  }

  .lado-direito {
    width: 100%;
    background-color: var(--cinza-claro);
  }

  .form-login {
    width: 90%;
    max-width: 400px;
  }
}
