
#painel-aprovacoes {

  background-color: var(--verde-claro); 
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(78px + 40px) 8% 60px;
  gap: 50px;
  color: var(--verde-principal);
  padding-top: 200px;
}

.titles-aprovações{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titles-aprovações h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color:white ;
}
.titles-aprovações h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color:var(--cinza-escuro);
}
#tabela-aprovacoes {
  width: 100%;
  max-width: 1000px; 
  background-color: var(--branco);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#tabela-aprovacoes table {
  width: 100%;
  border-collapse: collapse;
}

#tabela-aprovacoes thead {
  background-color: var(--verde-principal);
  color: var(--branco);
  font-weight: 600;
}

#tabela-aprovacoes thead th {
  padding: 15px;
  text-align: left;
}

#tabela-aprovacoes tbody tr {
  border-bottom: 1px solid var(--cinza-claro);
  transition: background 0.3s;
}

#tabela-aprovacoes tbody tr:hover {
  background-color: #f9f9f9;
}

#tabela-aprovacoes tbody td {
  padding: 15px;
  color: var(--cinza-escuro);
}

.btn-aprovar,
.btn-reprovar {
  padding: 8px 14px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 5px; 
  margin-top: 10px;
}

.btn-aprovar {
  background-color: var(--verde-claro); 
  color: var(--branco);
}

.btn-aprovar:hover {
  background-color: var(--verde-principal); 
}

.btn-reprovar {
  background-color: #c0392b; 
  color: var(--branco);
}

.btn-reprovar:hover {
  opacity: 0.6;
}


@media (max-width: 860px){
  #painel-aprovacoes{
    padding-top: 300px;
  }

  #tabela-aprovacoes {
    overflow-x: auto; 
  }

  #tabela-aprovacoes thead th,
  #tabela-aprovacoes tbody td {
    padding: 10px;
    font-size: 0.9rem;
  }


  .titles-aprovações h1 {
    font-size: 1.5rem;
  }

  .titles-aprovações h2 {
    font-size: 0.9rem;
  }
}