#regras{
  background-color: var(--amarelo-petrobras);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(78px + 40px) 8% 60px;
  gap: 50px;
  color: var(--verde-principal);
  padding-top: 200px;
}

#title-principal h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#tabela-regras{
  width: 100%;
  max-width: 800px;
  background-color: var(--branco);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (max-width: 860px){
  #regras{
    padding-top: 280px;
  }


  #tabela-regras {
    overflow-x: auto; 
  }

  thead th,
  tbody td {
    padding: 10px;
    font-size: 0.9rem;
  }

  #title-principal h1 {
    font-size: 1.5rem;
  }

  
}