
#reserva {
  background-color: var(--verde-claro);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(78px + 40px) 8% 60px;
  gap: 50px;
  color: var(--branco);
  padding-top: 150px;
}

.title-section h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

form {
  background-color: var(--verde-principal);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.title-form h2 {
  text-align: center;
  color: var(--amarelo-petrobras);
  margin-bottom: 10px;
}

.campos-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campos-form label {
  font-weight: 500;
}

.campos-form input,
.campos-form select,
.campos-form textarea {
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 0.95rem;
  background-color: var(--branco);
  color: var(--cinza-escuro);
}

.campos-form textarea {
  resize: none;
  height: 80px;
}

.botoes-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.btn-enviar,
.btn-limpar {
  padding: 12px 25px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-enviar {
  background-color: var(--amarelo-petrobras);
  color: var(--cinza-escuro);
}

.btn-enviar:hover {
  background-color: var(--branco);
  color: var(--verde-principal);
}

.btn-limpar {
  background-color: transparent;
  border: 2px solid var(--amarelo-petrobras);
  color: var(--amarelo-petrobras);
}

.btn-limpar:hover {
  background-color: var(--amarelo-petrobras);
  color: var(--verde-principal);
}

@media (max-width: 860px){
     #reserva{
    padding-top:320px;
  }

  .title-section h1  {
    font-size: 1.5rem;
  }

}